<a href="https://colab.research.google.com/github/SafiBD/machine-learning/blob/main/2nd_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Homework 1
num1 = 51
num2 = 17
print (num1 - num2)

34

In [2]:
print (num1 * num2)

867

In [3]:
print (num1 / num2)

3.0

In [4]:
# H2: Write a program to declare variables for id, name, batch, and hometown, and assign values, and finally print.
id = 1234
name = "James"
batch = "2nd"
hometown = "Kishoreganj"
Assignment_mark= 48
print (id, "\t", name, "\t", batch, "\t", hometown, "\t", Assignment_mark)

1234 	 James 	 2nd 	 Kishoreganj 	 48

In [5]:
id = 1234
name = "James"
batch = "2nd"
hometown = "Kishoreganj"
Assignment_mark= 48
print('ID:',id,'Name:', name, 'Batch:', batch, 'Hometwn:', hometown, 'Assignment_mark:', Assignment_mark)

ID: 1234 Name: James Batch: 2nd Hometwn: Kishoreganj Assignment_mark: 48

In [9]:
num1 = 5643
num2 = 3000.432

sum = num1 + int(num2)
print(num1)

print(num2)

print(sum)

print(type(num1), type(num2), type(sum))

5643
3000.432
8643
<class 'int'> <class 'float'> <class 'int'>